node_modules

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore everything in the dist folder
/dist/*

# Except for reset-zone.css
!dist/reset-zone.css
!dist/reset-zone.min.css

/.vscode/*
!.vscode/settings.json
