// * Box sizing rules.
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * Set core root defaults
html,
html:focus-within {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

// * Set core body defaults
body {
  --rz-body-min-height: 100dvh;

  min-block-size: var(--rz-body-min-height);
  min-height: var(--rz-body-min-height);
  line-height: 1.5;

  // * This is for improve text rendering in the browsers
  -webkit-font-smoothing: antialiased;

  // stylelint-disable-next-line scss/selector-no-redundant-nesting-selector
  :where(&) {
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

// * Remove default margin
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// * Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// * Remove list styles on ul, ol elements with a list role which suggests
// * default styling will be removed
ul[role="list"],
menu[role="list"],
ol[role="list"] {
  list-style: none;
}

main,
header,
footer,
section,
article,
aside,
nav,
menu,
details,
summary,
figcaption,
figure,
hgroup,
img,
picture,
video,
canvas,
svg {
  display: block;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// * Set default styles for menu tag
menu {
  unicode-bidi: isolate;
}

// * A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration-line: underline;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

// * Make images easier to work with
img,
picture,
video,
canvas,
svg {
  --rz-asset-max-width: 100%;
  --rz-asset-height: auto;

  max-inline-size: var(--rz-asset-max-width);
  max-width: var(--rz-asset-max-width);
  block-size: var(--rz-asset-height);
  height: var(--rz-asset-height);
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

figcaption {
  font-style: italic;
}

// * Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// * Reset styles of blockquote and q tag
blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

// * Removes spacing between cells in tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@supports selector(:is) {
  body> :is(header, footer),
  main,
  section,
  article {
    container-type: inline-size;
  }
}

@supports not selector(:is) {
  body>header,
  body>footer,
  main,
  section,
  article {
    container-type: inline-size;
  }
}

@supports selector(:where) {
  :where([hidden]) {
    display: none;
  }
}

@supports not selector(:where) {
  [hidden] {
    display: none;
  }
}

@supports selector(:focus-visible) {
  :focus-visible {
    // stylelint-disable-next-line value-keyword-case
    outline: max(1px, 0.15em) solid currentColor;
    outline-offset: max(1px, 0.15em);
  }
}

@supports not selector(:focus-visible) {
  :focus {
    // stylelint-disable-next-line value-keyword-case
    outline: max(1px, 0.15em) solid currentColor;
    outline-offset: max(1px, 0.15em);
  }
}

// * Scroll margin allowance above anchor links
:target {
  scroll-padding-block-start: 2rem;
}

// * Scroll margin allowance below focused elements to ensure they are clearly in view
:focus {
  scroll-padding-block-end: 8vh;
}

// * Remove all animations, transitions and smooth scroll for
// * people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

dialog {
  --rz-dialog-max-width: 90%;
  --rz-dialog-max-height: 85dvh;
  --rz-dialog-padding-x: 1rem;
  --rz-dialog-padding-y: 1.25rem;
  --rz-dialog-border: 1px solid hsl(0deg 0% 91.81%);
  --rz-dialog-scrollbar-bg: transparent;
  --rz-dialog-scrollbar-width: none;

  max-width: var(--rz-dialog-max-width);
  max-inline-size: var(--rz-dialog-max-width);
  max-height: var(--rz-dialog-max-height);
  max-block-size: var(--rz-dialog-max-height);
  margin: auto;
  padding: 0;
  border: var(--rz-dialog-border);
  border-radius: 0.5rem;
  overscroll-behavior: contain;
  scroll-behavior: smooth;

  // Hide scrollbar for Firefox
  scrollbar-width: var(--rz-dialog-scrollbar-width);

  // Hide scrollbar for IE and Edge
  // -ms-overflow-style: var(--rz-dialog-scrollbar-width);
  scrollbar-color: var(--rz-dialog-scrollbar-bg) var(--rz-dialog-scrollbar-bg);
  animation: rz-bottom-to-top 0.25s ease-in-out forwards;

  @media only screen and (width > 767px) {
    --rz-dialog-max-width: 45rem;
  }

  &::-webkit-scrollbar {
    --rz-dialog-scrollbar-width: 0;

    width: var(--rz-dialog-scrollbar-width);
    inline-size: var(--rz-dialog-scrollbar-width);
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--rz-dialog-scrollbar-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--rz-dialog-scrollbar-bg);
  }

  &::backdrop {
    background-color: hsl(0deg 0% 0%);
    opacity: 0.5;
  }
}

@keyframes rz-bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media print {
  @page {
    margin: 1.875rem; // 30px
  }

  a[href^="http"]::after {
    content: " (" attr(href) ")";
  }
}

/* This is for accessibility purposes */
.sr-only {
  --rz-sr-only-width: 1px;
  --rz-sr-only-height: 1px;

  inline-size: var(--rz-sr-only-width);
  width: var(--rz-sr-only-width);
  block-size: var(--rz-sr-only-height);
  height: var(--rz-sr-only-height);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

/* This is for accessibility purposes */
.not-sr-only {
  --rz-not-sr-only-width: auto;
  --rz-not-sr-only-height: auto;

  inline-size: var(--rz-not-sr-only-width);
  width: var(--rz-not-sr-only-width);
  block-size: var(--rz-not-sr-only-height);
  height: var(--rz-not-sr-only-height);
  position: static;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
